*,
::before,
::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
}

body {
	background: #39b0c5;
	font-family: "Josefin Slab", serif;
	font-weight: 600;
}
nav {
	height: 80px;
	margin-top: 0px;
	width: 100%;
	background: rgba(9, 65, 97, 1);
	
	z-index: 6;
}
ul {
	width: 100%;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 50px;
	
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
  
  
	
	
}

nav ul li:hover{

text-decoration:  3px underline rgb(141, 69, 69);


}

.lien-nav {
	font-family: "Josefin Slab", serif;
	line-height: 80px;
	color: rgb(231, 222, 222);
	text-decoration: none;
	
	margin: 0 10px;
	font-size: 17px;
	font-weight: 600;
}

h1 {
	font-family: "Cinzel", serif;
	text-align: center;
	margin-top: 90px;
	color: rgba(0, 40, 63, 1);
	
}

h2 {
	margin-top: 50px;
	font-family: "Josefin Slab", serif;
	font-weight: 600;
	text-align: center;
	color: rgb(0, 40, 63, 1);
}

.titre-article {
	margin-top: 35px;
	margin-left: 50px;
	padding-top: 20px;
	font-size: 23px;
	color: black;
}
.signaler {
	font-size: 20px;
}
.t-article {
	color: black;
	padding: 10px;
	display: inline;
}

.lien-article {
	font-family: "Josefin Slab", serif;
	text-decoration: none;
	font-style: italic;
	font-weight: 700;
	background: rgb(57, 111, 161);
	padding: 10px;
}
article {
	font-family: "Josefin Slab", serif;
	font-size: 23px;
	margin-left: 50px;
	margin-top: 20px;
	padding: 5px;
}
.edition {
	font-size: 18px;
	color: rgb(15, 14, 15);
	margin-bottom: 10px;
	margin-left: 50px;
}

.btn-modif {
	font-weight: 600;
	margin-left: 200px;
	margin-bottom: 15px;
	padding: 15px 40px;
	background: rgb(12, 84, 126);
	border-radius: 20px;
	border: none;
	position: relative;
	box-shadow: 0 6px rgba(9, 65, 97, 1);
}

.btn-modif:hover {
	box-shadow: 0 4px rgb(9, 65, 97, 1);
	top: 2px;
}

.btn-modif:active {
	box-shadow: 0 0 rgb(9, 65, 97, 1);
	top: 6px;
}
.btn-supprimer {
	font-weight: 600;
	margin-left: 30px;
	margin-bottom: 15px;
	padding: 13px 37px;
	background-color: rgb(160, 58, 58);
	border-radius: 20px;
	border: none;
	position: relative;
	box-shadow: 0 6px rgb(160, 42, 42);
}

.btn-supprimer:hover {
	box-shadow: 0 4px rgb(160, 42, 42);
	top: 2px;
}

.btn-supprimer:active {
	box-shadow: 0 0 rgb(160, 42, 42);
	top: 6px;
}

.lien-modif {
	text-decoration: none;
	color: white;
	font-size: 16px;
}
.lien-supprimer {
	font-size: 16px;
	text-decoration: none;
	color: rgb(230, 219, 219);
}

.titre-update {
	margin-top: 50px;
}

.form-update {
	text-align: center;
	margin-top: 15px;
	background-color: rgb(11, 83, 124);
	width: 90%;
	height: 100%;
	margin-left: 100px;
	padding-top: 20px;
	padding-bottom: 25px;
}
.form-update,
.label-titre,
.label.texte {
	color: rgb(2, 27, 56);
	font-family: "Potta One", cursive;
	font-size: 20px;
	font-weight: 500;
	display: block;
	padding-bottom: 5px;
}
.input-update,
.textarea-update {
	border: 2px solid rgb(44, 43, 43);
	border-radius: 6px;
	padding: 7px;
}

.btn-update {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 15px;
	padding: 15px 35px;
	background-color: rgb(77, 117, 146);
	color: rgb(219, 214, 205);
	border-radius: 20px;
	cursor: pointer;
	border: none;
	position: relative;
	box-shadow: 0 6px rgb(43, 98, 138);
}
.btn-update:hover {
	box-shadow: 0 4px rgb(43, 98, 138);
}

.btn-update:active {
	box-shadow: 0 0 rgb(43, 98, 138);
	top: 6px;
}

.titre-add {
	font-family: "Potta One", cursive;
	margin-top: 80px;
	margin-right: 30px;
	text-align: center;
}

.form-add {
	width: 80%;
	text-align: center;
	margin-left: 80px;
	margin-top: 30px;
	padding-bottom: 15px;
}

.input-add {
	background-color: rgb(157, 184, 200);
	margin-bottom: 20px;
	border: 2px solid rgb(68, 64, 64);
	font-weight: 800;
	font-size: 17px;
	padding: 10px 20px;
	border-radius: 12px;
	border: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}
.signaler{

 color : red;
 background: #000;

}
.btn-add {
	font-weight: 600;
	font-size: 17px;
	padding: 15px 30px;
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	background: rgb(157, 184, 200);
	border: none;
	box-shadow: 0px 6px rgb(102, 159, 192);
}

.btn-add:hover {
	box-shadow: 0 4px rgb(102, 159, 192);
}

.btn-add:active {
	box-shadow: 0 0 rgb(102, 159, 192);
	top: 6px;
}

.titre-report {
	color: rgb(114, 5, 47);
	width: 75%;
	margin-top: 50px;
	margin-left: 200px;

	font-weight: 800;
	display: block;
}

.report {
	margin-left: 40px;
	margin-bottom: 10px;
}
.report-number,
.date-made {
	color: rgb(117, 4, 13);
	margin-top: 20px;
	font-weight: 800;
	font-family: "Josefin Slab", serif;
	font-size: 18px;
}

.author-report {
	font-weight: 600;
	font-size: 18px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.article-report {
	color: black;
	margin-bottom: 30px;
	margin-top: 10px;

	width: 80%;
}

.btn-report {
	font-weight: 600;
	font-size: 16px;
	padding: 12px 30px;
	margin-left: 200px;

	background-color: rgb(153, 43, 43);
	border-radius: 20px;
	color: bisque;
	border: none;
	position: relative;
	box-shadow: 0 6px rgb(149, 17, 17);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	text-decoration: none;
}
.btn-report:hover {
	box-shadow: 0 4px rgb(149, 17, 17);
	top: 2px;
}

.btn-report:active {
	box-shadow: 0 0 rgb(149, 17, 17);
	top: 6px;
}

.titre-auteur {
	color: rgb(28, 28, 66);
	font-size: 50px;
	margin-top: 100px;
}

.biographie {
	font-family: "Josefin Slab", serif;
	font-size: 20px;
	margin-top: 60px;
	text-align: center;
	color: rgb(26, 25, 23);
}
.one-article {
	margin: 20px 80px;
	width: 80%;
	background: rgb(41, 131, 143);
	padding: 20px 25px;
}
.titre-one {
	margin-bottom: 15px;
	font-style: italic;
}

.one-content {
	font-weight: 600;
	font-size :23px;
	padding-bottom: 15px;
}

.titre-comment {
	margin-top: 15px;
	font-size:30px;
	color: rgb(14, 34, 212);
	text-align: left;
	font-style: italic;
}
.date-comment {
	color: rgb(2, 18, 31);
	font-size: 20px;
	margin-bottom: 10px;
}

.author-comment {
	font-weight: 800;
	font-size: 20px;
	margin-top: 5px;
	padding-bottom: 15px;
	color: rgb(193, 205, 207);
}

.comment {
	font-weight: 800;
	font-size: 23px;
	padding-bottom: 10px;
	color: black;
}

.btn-signaler {
	font-weight: 600;

	margin-left: 200px;
	padding: 12px 30px;
	border-radius: 20px;
	position: relative;
	background: rgb(238, 168, 38);
	border: none;
	color: rgb(233, 221, 221);
	text-decoration: none;
	box-shadow: 0 6px rgb(236, 155, 5);
}

.btn-signaler:hover {
	box-shadow: 0 4px rgb(236, 155, 5);
	top: 2px;
}

.btn-signaler:active {
	box-shadow: 0 0 rgb(236, 155, 5);
}

.btn-remove {
	margin-top: 10px;
	font-weight: 600;
	background: #ec4040;
	padding: 12px 30px;
	position: relative;
	border-radius: 20px;
	border: none;
	text-decoration: none;
	color: rgb(231, 224, 224);
	box-shadow: 0 6px #ec2626;
}

.btn-remove:hover {
	box-shadow: 0 4px #ec2626;
	top: 2px;
}

.btn-remove:active {
	box-shadow: 0 0 #ec2626;
}

.titre-addComment {
	margin-left: 140px;
	margin-bottom: 10px;
	font-size: 23px;
}

.form-comment {
	margin-left: 150px;
}

.input-pseudo {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 16px;
	border: none;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
}

.textarea-comment {
	margin-top: 10px;
	border-radius: 12px;
	border: none;
	margin-bottom: 15px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	text-decoration: none;
}

.btn-sendComment {
	margin-top: 10px;
	font-weight: 700;
	background: #067e3c;
	padding: 12px 30px;
	position: relative;
	cursor: pointer;
	border: none;
	border-radius: 15px;
	color: papayawhip;
	box-shadow: 0 6px #047e3b;
}

.btn-sendComment:hover {
	box-shadow: 0 4px #047e3b;
	top: 2px;
}

.btn-sendComment:active {
	box-shadow: 0 0 #047e3b;
	top: 6px;
}




@media screen and (max-width:875px){

nav{

	height :70%;
	flex-direction: column;
}
article{

	font-size: 20px;
}
nav ul li{

	display :block;
	
	
	

}
.lien-nav{
 padding-bottom: 15px;
 color: rgb(222, 221, 230);
 font-size: 25px;
 font-weight: 800;
 
	
}

h1{

	margin-top: 20%;
}

.titre-update{

	margin-top: 26%px;
}

.form-update{

	margin-left: 30px;
}
.titre-auteur{
    font-size:40px;
	margin-top: 26%px;


}
.biographie{
	font-size:16px;
	margin-left:10px;
	
}
.titre-add{

	margin-top: 20%;
}
.form-add{

	margin-left: 25px;
}
.titre-report{

	margin-top: 22%;
	margin-bottom:10% ;
<<<<<<< HEAD
	margin-left: 16%;
=======
	margin-left: 10%;
>>>>>>> listComments
}
.article-report{
margin-left: 10px;

}

.one-article{
 
	 margin-top: 170px;
	 margin-left: 10px;
}
.titre-addComment {

margin-left: 20px;

}
.form-comment{

	margin-left: 40px;
}
.textarea-comment{

	width: 90%;
}

}

@media screen and (max-width:660px){

.biographie{

	font-size :14px;
	margin-top:60px;
	


}

}


@media screen and (max-width:595px){

	.btn-modif{

		margin-left :20px;
	}
}
@media screen and (max-width:500px){

.titre-comment{

	font-size:17px;
}
	.btn-signaler{

		margin-left: 5px;
	}

	.comment{

		margin-left: 0px;
	}
	.form-comment{

		margin-left: 5px;;
	}
	.textarea-comment{

		width: 88%;
	}
}




@media screen and (max-width:410px){

	.btn-report{

		padding: 10px 20px;
		margin-left: 5px;
	}


}

@media screen and (max-width:398px){

.lien-nav{

	 font-size:20px;
	 font-weight: bold;
	 
	 

}
.titre-article{
 
	font-size: 20px;
	
	
}
article{
font-size: 17px;

}
.btn-modif{

		padding: 10px 30px;
		
	}
	.btn-supprimer{

		padding: 10px 28px;
		margin-left: 20px;
	}
	.titre-add{

		font-size :16px;
	}

	.input-add{

		padding :8px 15px;
		font-size: 14px;
	}
	.btn-add{

		font-weight: 500;
		padding: 13px 20px;
	}

}

@media screen and (max-width:367px){

 .titre-article{

	font-size : 16px
 }


}